mat-expansion-panel-header {
  display: grid;
  padding: 5px;
}

mat-panel-title {
  width: 80%;
  flex-basis: unset;
  overflow-x: hidden;
  font-weight: 500;
  white-space: nowrap;
}

.example-headers-align .mat-expansion-panel-header-description {
  align-items: center;
  justify-content: right;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

input[type="color" i] {
  width: 0px;
  height: 0px;
  border: 0px;
  padding: 0px;
}

.chequeo-grupo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}