.kairos-distrital {
  display: flex;
  flex-wrap: wrap;
  min-height: 589px;
}

.panel-menor {
  max-height: 500px;
  overflow-y: auto;
  width: 46%;
  margin: 9px 2%;
}

.panel-mayor {
  width: 96%;
  margin: 9px 2%;
}

button.flotante-grande {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  padding: 5px 10px;
  * {
    max-height: 45px;
  }
}

.advertencia {
  width: -webkit-fill-available;
  display: flex;
  justify-content: center;
  background-color: salmon;
  font-size: 16pt;
  padding: 10px 0;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  span {
    strong {
      word-spacing: 10pt;
    }
  }
}