university-details {
  display: block;
  min-height: 529px;
}

.section-wide {
  padding: 20px 2px 30px;
}

h2 {
  font-weight: 500;
  margin: 0;
  padding: 10px;
  font-size: 19pt;
  text-align: center;
}