@import '../../../../styles.scss';

.bottom {
  background: mat-color($AION-primary);
  font: 100 17px sans-serif, Roboto, consolas;
  color: white;
  a {
    text-decoration-line: none;
    color: mat-color($AION-accent);
    font-weight: 300;
  }
}

.center-row {
  text-align: -webkit-center;
  padding: 3px 0;
}

.social-links {
  a {
    padding: 0 30px;
  }

  i {
    font-family: 'FontAwesome';
    font-style: normal;
  }
}