<div class="bottom"><!--bottom-->
  <div><!--Bottom-content-->
    <div class="center-row"><!--Bottom-details-->
      AION
      <i class="fa fa-copyright" aria-hidden="true"></i>
      2023 ｜ Por
      <a href="https://www.acmud.cf/">ACMUD</a>
      y Alta Lengua
    </div>
    <div class="center-row social-links">
      <a
          color="primary"
          target="_blank"
          href="https://facebook.com/ACMUD/">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a
          color="primary"
          target="_blank"
          href="https://www.instagram.com/capacmud/">
        <i class="fab fa-instagram"></i>
      </a>
      <a
          color="primary"
          target="_blank"
          href="https://www.youtube.com/@acmud54">
        <i class="fab fa-youtube-play"></i>
      </a>
      <a
          color="primary"
          target="_blank"
          href="https://github.com/ACMUD">
        <i class="fab fa-github"></i>
      </a>
      <a
          color="primary"
          href="mailto:udistrital.acm@gmail.com">
        <i class="fab fa-envelope"></i>
      </a>
    </div>
  </div>
</div>