.fill-remaining-space {
  flex: 1 1 auto;
}

div.view-container {
  background-image: url(/assets/img/icons/common/IconBlnqFndTrnspConLtrs.svg);
  background-repeat: no-repeat;
  background-position: -335px 70px;
  background-size: 900px;
  background-attachment: fixed;
  margin: 0;
  padding: 0 5%;
  width: 100%;
}