<div>
  <mat-card
      style="background-image:
          linear-gradient(
          45deg,
          rgba(255, 255, 255, 0.7),
          rgba(255, 255, 255, 1)),
          url({{universidad.isotipo}})">
    <mat-card-content>
      <div>
        <mat-card-title>{{universidad.nombre}}</mat-card-title>
        <mat-card-subtitle>
          Ultima actualizacion para el periodo:
          {{universidad.periodo_actual}}
        </mat-card-subtitle>
        <p>
          Utilice el ultimo archivo de materias completo cargado
          por los administradores para el periodo
          {{universidad.periodo_actual}}.
        </p>
      </div>
      <mat-card-actions>
        <button
            *ngIf="canAccion('ORGANIZAR')"
            mat-raised-button
            color="accent"
            [routerLink]="['/clasSetIn/', universidad.diminutivo]">
          Seleccionar
        </button>
        <button
            *ngIf="canAccion('ACTUALIZAR')"
            mat-raised-button
            color="accent"
            [routerLink]="['/Update/', universidad.diminutivo]">
          Actualizar
        </button>
        <button
            *ngIf="canAccion('REPORTAR')"
            mat-stroked-button
            style="background-color:rgb(255,255,255);"
            class="smaller"
            color="warn">
          Reportar
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
<button
    mat-fab
    color="primary"
    class="flotante"
    routerLink="/">
  <i class="material-icons">home</i>
</button>