mat-card{
  background-repeat: no-repeat;
  background-position: right center;
}

mat-card-content{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 15px;
}

mat-card-actions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  button.mat-raised-button {
    margin: 5px 0;
  }
}

button.smaller{
  margin: 5px 5%;
}