.block-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 509px;
}

.mat-raised-button {
  margin: 5px;
}

h2 {
  font-weight: 500;
  margin: 0;
  padding: 10px;
  font-size: 19pt;
  text-align: center;
}