<div class="page-container">
  <div class="page-message">
    <h1>Error 404</h1>
    <h2>La pagina no fue hallada</h2>
  </div>
  <div>
    <img
        class="dot-box"
        src="assets/img/icons/common/IconFndTrnspConLtrs.svg"
        alt="Logo de AION"/>
  </div>
  <div class="page-details">
    <p>
      <span>La pagina solicitada no fue hallada. Por favor dirijase a</span>
      <a href="/">Inicio</a>.
      <span>O, si cree que es un error, dirijase a</span>
      <a href="/guIdes">Tutoriales</a>.
    </p>
  </div>
</div>